@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body
{
	font-family:'Caveat', cursive;
	overflow-x: hidden;
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1 {
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: darkred;
}

.main_heading p {
    font-size: 35px;
    color: black;
}

.underline {
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: darkred;
}


/* Header CSS */

.header-div {
    font-size: 22px;
	height: 550px;
    background: #C02425;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0CB35, #C02425); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.navbar-nav li:nth-last-child(1) a {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-right-menu-ul {
	margin-top: 10px;
    color: black;
}

/* Bootstrap CSS */
.navbar-default {
    font-size: 25px;
    background-color: transparent;
    border-color: transparent;
}

.navbar navbar-default .navbar-brand a {
    color: darkred;
}



.navbar-nav li a {
    color: black;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.slide-text {
	color:black;
	margin-top: 80px;
}

.slide-text h1
{
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 18px;
}

.slide-text p {
	font-size: 20px;
}


/* Projects CSS */
.projects-div {
	text-align: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.projects-div:hover {
	margin-top: -10px;
}


.projects-div button {
	font-size: 35px;
    font-weight: 300;
    background: #F0CB35;
    color: black;
}

.projects-div h4 {
    color: darkred;
    font-weight: 400;
    font-size: 30px;
}

.projects-div p {
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
}

.projects-div a {
    padding: 5px;
    font-size: 20px;
}

.skill-box {
    color: black;
    font-size: 20px;
}

.skill-box h4 {
    color: darkred;
    font-size: 23px;
}


/* Footer */

footer {
    padding: 40px 0 35px 0;
    text-align: center;    
    margin-bottom: 20px;
}

.footer-social {
    font-size: 40px;
    line-height: 50px;
}

.footer-copyright {
    font-size: 30px;
}

.footer-social  a {
    color: black;
}

.fa-github {
    padding: 10px;
    color: black;
    background: #F0CB35;
}

.fa-linkedin {
    padding: 10px;
   background: #2e6da4;
    color: whitesmoke;
}

.fa-google {
    padding: 10px;
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}



/* Extra Small devices  */
@media (max-width: 480px) {

}


/* Extra Small devices  */
@media (max-width: 767px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* Typography CSS */


}

